// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
// I gather this file is a starting point for the project.

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "compass/utilities/general/float";
@import "compass/layout/stretching";
@import "compass/layout/sticky-footer";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/utilities/general/float";
@import "compass/css3/box-shadow";
@import "compass/css3/font-face";
@import "compass/css3/columns";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:700italic,400italic);
@include font-face("Bemio italic", font-files("bemio_italic-webfont.woff","bemio_italic-webfont.ttf","bemio_italic-webfont.otf", "bemio_italic-webfont.svg"), "bemio_italic-webfont.eot", normal, italic);

$sidebar-width: 300px;
$stories-width: 231px;
$subnav-height: 50px;

$blu_shadow: #0B4E6B;
$blu_bg: #33BBCC;
$orange_bg: #FF7D08;
$white_border: #FFF3F6;
$blu_dark_border: #3886AD;
$blu_text: #0B4C63;
$blu_dark_text: #135C7C;
$blu_light_border: #68D7E0;
$azzurro_text: #80DADD;
$grigio_bg: #D7E2DE;
$grigio_text: #575958;
$grigio_dark_text: #373A39;
$orange_text: #E85605;
$orange_dark_text: #D13B07;
$azzurro_chiaro_text: #8ADDDD;

$sidebar-blue: #2baabc;
$sidebar-orange: #fd7b30;
$sidebar-green: #93c850;

$orange: #FF7D08;
$orange-light: #E55C00;
$orange-dark: #FFB140;

$green: #99CC33;
$green-light: #B7E83F;
$green-dark: #5BA521;

$blue:  #33BBCC;
$blue-light: #68D7E0;
$blue-dark: #3886AD;


@mixin shader($normal: #ccc, $light: #fff, $dark: #000, $thickness: 1px , $t: light, $r: light, $b: light, $l: light){
	
	@if $t == light {
		border-top: $thickness solid $light;
	} @else if $t == dark {
		border-top: $thickness solid $dark;
	} @else {
		border-top: none;
	}
	
	@if $r == light {
		border-right: $thickness solid $light;
	} @else if $r == dark {
		border-right: $thickness solid $dark;
	} @else {
		border-right: none;
	}
	
	@if $b == light {
		border-bottom: $thickness solid $light;
	} @else if $b == dark {
		border-bottom: $thickness solid $dark;
	} @else {
		border-bottom: none;
	}
	
	@if $l == light {
		border-left: $thickness solid $light;
	} @else if $l == dark {
		border-left: $thickness solid $dark;
	} @else {
		border-left: none;
	}
}

body{
	height: 100%;
	@include blueprint(true);
	-webkit-font-smoothing: antialiased;
}


h1.title{
	font-family: 'Bemio italic';
	font-size: 48px;
	color: $white_border;
	font-style: italic;
	padding-top: 38px;
}

#header{
	position: relative;
	height: 54px;
	background-color: yellow;
	width: 100%;
}

#pageslide{
	div{
		display: none;
		.background{
			margin-top: 80px;
			@include stretch();
			background-color: white;
			@include opacity(0.4);
			@include border-radius(6px);
			
		}
		.content{
			margin-top: 80px;
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}
}

#wrapper{
	position: absolute;
	width: 100%;
	background-color: #d7e2de;
}

#main{
	@include stretch(0,$stories-width,0,0);
	margin-left: -$sidebar-width;
		.spacer{
			width: $sidebar-width;
			@include shader($blue, $blue-light, $blue-dark, 1px , none, light, dark, light);
			@extend .blue;
			height: 100%;
			@include float-left;
		}

	
}
#sidebar{

	position: relative;
	@include float-right;
	.content{
		width: 230px;
		@include float-left;
		
		@include shader($green, $green-light, $green-dark, 1px , light, dark, dark, light);
		@extend .green;
		height: 2000px;
	}
	.spacer{
		width: $sidebar-width;
		@include shader($green, $green-light, $green-dark, 1px , light, none, dark, light);
		@extend .sidebar-green;
		margin-right: -$sidebar-width;
		height: 2000px;
		@include float-left;
	}
}

#footer{
	.wrapper{
		position: relative;
		width: 100%;
		text-align: center;
		button{
			width: 60px;
			height: 60px;
			background-color: yellow;
			position: relative;
			margin-top: -60px;
		}
	}
	position: fixed;
	bottom: 0;
	height: 280px;
	margin-bottom: -280px;
	background-color: yellow;
	left: 0;
	right: 0;
}

.subnav{
right: $stories-width;
height: $subnav-height;
}

.subnav-fixed {
position: fixed;
top: 0;
left: 0;
right: $stories-width;
z-index: 1020;
background-color: grey;
@include opacity(0.9);
border-width: 0 0 1px;
@include border-radius(0);
}

.buttons_bar{
	width: 90%;
	position: absolute;
	text-align: right;
	bottom: 0;
	z-index: 999;
}

#events{
	@include clearfix;
	position: relative;
	.content{
		overflow-y: hidden;
		
		height: 500px;
		padding-left: 50px;
		
		@include shader($blue, $blue-light, $blue-dark, 1px , light, dark, dark, dark);
		@extend .blue;
		@include stretch(0,0,0,$sidebar-width);
		
		
	}
	
	.spacer{
		width: $sidebar-width;
		@include shader($blue, $blue-light, $blue-dark, 1px , dark, light, dark, light);
		@extend .sidebar-blue;
		height: 500px;
		@include float-left;
	}
}
#locations{
	@include clearfix;
	position: relative;
	.content{
		overflow-y: hidden;
		
		height: 500px;
		padding-left: 50px;
		
		@include shader($blue, $blue-light, $blue-dark, 1px , light, dark, dark, dark);
		@extend .sidebar-blue;
		@include stretch(0,0,0,$sidebar-width);
	}
	
	.spacer{
		width: $sidebar-width;
		@include shader($blue, $blue-light, $blue-dark, 1px , dark, light, dark, light);
		@extend .sidebar-blue;
		height: 500px;
		@include float-left;
	}
}
#blog{
	@include clearfix;
	position: relative;
	.content{
		overflow-y: hidden;
		
		height: 500px;
		padding-left: 50px;
		
		@include shader($blue, $blue-light, $blue-dark, 1px , light, dark, dark, dark);
		@extend .blue;
		@include stretch(0,0,0,$sidebar-width);
	}
	
	.spacer{
		width: $sidebar-width;
		@include shader($blue, $blue-light, $blue-dark, 1px , dark, light, dark, light);
		@extend .sidebar-blue;
		height: 500px;
		@include float-left;
	}
}
#cooks,#gnammers{
	@include clearfix;
	position: relative;
	.content{
		overflow-y: hidden;
		
		height: 500px;
		padding-left: 50px;
		
		@include shader($orange, $orange-light, $orange-dark, 1px , light, dark, dark, dark);
		@extend .sidebar-orange;
		@include stretch(0,0,0,$sidebar-width);
	}
	
	.spacer{
		width: $sidebar-width;
		@include shader($orange, $orange-light, $orange-dark, 1px , dark, light, dark, light);
		@extend .sidebar-orange;
		height: 500px;
		@include float-left;
	}
}

.wrapper{
	margin-top: 15px;
	@include clearfix;
	
	.event.single{
		@include float-left;
		
	
		.date{
			border-top: 1px solid $blu_light_border;
			width: 226px;
			padding-left: 20px;
			margin-bottom: 30px;
			float: left;
			@include background-image(radial-gradient(50% 0, rgba(121,212,216,0.5), rgba(121,212,216,0) 60%));
				
					.day{
						font-family: 'Bemio italic';
						font-size: 55px;
						color: $azzurro_text;
						font-style: italic;
						line-height: 64px;
						float: left;
						margin-right: 10px;
						}
					.month{
						font-family: 'Bemio italic';
						font-style: italic;
						font-size: 24px;
						color: $azzurro_text;
						text-transform: capitalize;
						line-height: 36px;
						}
					.place{
						font-family: 'Bemio italic';
						font-style: italic;
						font-size: 18px;
						color: $white_border;
						margin-top: -10px;
						line-height: 27px;
						}
			}
			
		.mask{
			width: 246px;
			height: 298px;
			overflow: hidden;
			
			border-bottom: 1px solid $blu_dark_border;
			
			.card{
				
				width: 216px;
				height: 290px;
				margin: 10px 10px 10px 14px;
				@include border-radius(6px, 6px);
				@include single-box-shadow(rgba(11,78,107,0.5), 1px, 2px, 10px);
				border: 2px solid $white_border;
				
					img{
						height: 290px;
						@include border-radius(3px, 3px);
					}
					
				.avatar{
							position: absolute;
							top: -7px;
							right: -7px;
							width: 80px;
							height: 80px;
							@include border-radius(6px, 6px);
							@include single-box-shadow(rgba(11,78,107,0.5), 1px, 2px, 10px);
							border: 2px solid $white_border;
							
								img{
									width: 80px;
									height: 80px;
									@include border-radius(4px, 4px);
								}
								
						}
					
				}
		}
	}
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.mosaic-backdrop{
	width: 216px;
	height: 290px;
	margin: 10px 10px 10px 14px;
	display: none;
	position: absolute;
	top: 0;

}

.mosaic-overlay {
	display: none;
	z-index: 5;
	position: relative;
	@include float-left;

}

.orange{
	background-color: $orange;
	
}

.green{
	background-color: $green;
	
}

.blue{
	background-color: $blue;
	

}
.sidebar-blue{
	background-color: $sidebar-blue;
}
.sidebar-orange{
	background-color: $sidebar-orange;
}
.sidebar-green{
	background-color: $sidebar-green;
}


//Style blog_singolo post//



.basicbox{
	position: relative;
	padding-left: 40px;
	@include clearfix;
}

//.foto_1{
//position: relative;
//top: 50px;
//margin-left: 20px;
//width: 262px;
//@include float-left;
//margin-bottom: 20px;
//}


.foto_1{

    width:  740px;
    height: 337px;
    border-bottom: 1px solid $blu_light_border;
    border-top: 1px solid $blu_light_border;
    margin-top: 26px;
    margin-bottom: 30px;
    float: left;

    
    .gradient_sx{
        width: 20px;
        height: 335px;
        @include background-image(linear-gradient(left, rgba(55,144,204,0), rgba(55,144,204,0.4) 100%));
        border-bottom: 1px solid $blu_dark_border;
        border-top: 1px solid $blu_dark_border;
        float: left;
    }
    .gradient_dx{
        width: 20px;
        height: 335px;
        @include background-image(linear-gradient(left, rgba(55,144,204,0.4), rgba(55,144,204,0) 100%));
        border-bottom: 1px solid $blu_dark_border;
        border-top: 1px solid $blu_dark_border;
        float: left;
    }
    .img{
        width: 700px;
        height: 335px;
        border-bottom: 1px solid $blu_dark_border;
        border-top: 1px solid $blu_dark_border;
        float: left;
        overflow: hidden;
    }
}




.bubble{
 width: 73px;
 height: 86px;
 position: absolute;
 z-index: 2;
 margin-top: 30px;
}

.bubble h1{
 position: relative;
 bottom: 70px;
 left: 10px;
 font-family: "Bemio italic";
 font-style: italic;
 font-size: 2em;
 color: #FFF3F6;

}

.bubble h2{
 position: relative;
 bottom: 85px;
 left: 18px;
 font-family: "Bemio italic";
 font-style: italic;
 font-size: 0.8em;
 color: #FFF3F6;
 line-height: 8px;
 text-transform: uppercase;

}

.text{
position: relative;
margin-top: 50px;
@include float-left;
margin-left: 20px;
}

.text h1{
  font-family: "Bemio italic";
  font-style: italic;
  font-size: 3.5em;
  color: #FFF3F6;
}

.text h2{
  font-family: "Bemio italic";
  font-style: italic;
  font-size: 1.5em;
  color: #5E6866;
  margin-top: -20px;
  
}

.text p{
  font-family: "Droid Sans";
  font-size: 1em;
  color: #575958;
  margin-top: -10px;
  width: 400px;
  position: relative;
  line-height: 15px;
  text-indent: 10px
  
}



.foto_intermezzo{

position: relative;
padding-left: 60px;
margin-top: 40px;
overflow: hidden;
width: 682 px;
height: 229 px;
}

.foto_2{
  position: relative;
  top: 50px;
  margin-left: 20px;
  width: 262px;
  height: 272px;
  @include float-left;
  @include single-box-shadow;
  margin-bottom: 30px;
  
 }
 
 .text_2{
 position: relative;
 margin-top: 50px;
 @include float-left;
 margin-left: 20px;
 
 
}

.text_2 h1{
  font-family: "Bemio italic";
  font-style: italic;
  font-size: 3.5em;
  color: #FFF3F6;
}

.text_2 h2{
  font-family: "Bemio italic";
  font-style: italic;
  font-size: 1.5em;
  color: #5E6866;
  margin-top: -20px;
  
}

.text_2 p{
  font-family: "Droid Sans";
  font-size: 1em;
  color: #575958;
  width: 400px;
  position: relative;
  margin-top: -10px;
  line-height: 15px;
  text-indent: 10px
 }
 
 .text_2 h3{
  font-family: "Droid Serif";
  font-style: italic;
  width: 400px;
  font-size: 1em;
  position: relative;
  top: 12px;
  }
 
 .text_2 span{
  color: #FFFFFF;
  font-family: "Droid Serif";
  font-style: bold italic;
  font-size: 1.1em;
 }
 
 
 
 //Style blog_lista_post//
 
 .foto_post_1{
 position: relative;
 top: 50px;
 margin-left: 20px;
 width: 262px;
 height: 448 px;
 margin-bottom: 20px;
 @include float-left;
 @include single-box-shadow;
 }
 
 .bubble_post_1{
  width: 73px;
  height: 86px;
  position: absolute;
  z-index: 2;
  margin-top: 30px;
 }
 
 .bubble_post_1 h1{
  position: relative;
  bottom: 70px;
  left: 10px;
  font-family: "Bemio italic";
  font-style: italic;
  font-size: 2em;
  color: #FFF3F6;
 
 }
 
 .bubble_post_1 h2{
  position: relative;
  bottom: 85px;
  left: 18px;
  font-family: "Bemio italic";
  font-style: italic;
  font-size: 0.8em;
  color: #FFF3F6;
  line-height: 8px;
  text-transform: uppercase;
 
 }
 
 .text_post{
 position: relative;
 margin-top: 50px;
 @include float-left;
 margin-left: 20px;
 }
 
 .text_post h1{
   font-family: "Bemio italic";
   font-style: italic;
   font-size: 3.5em;
   color: #FFF3F6;
 }
 
 .text_post h2{
   font-family: "Bemio italic";
   font-style: italic;
   font-size: 1.5em;
   color: #5E6866;
   margin-top: -20px;
   
 }
 
 .text_post p{
   font-family: "Droid Sans";
   font-size: 1em;
   color: #575958;
   margin-top: -10px;
   width: 400px;
   position: relative;
   line-height: 15px;
   text-indent: 10px
   
 }
 
 .text_post h3{
   font-family: "Droid Serif";
   font-style: italic;
   width: 400px;
   font-size: 1em;
   position: relative;
 }
 
 .text_post h3 span{
   color: #FFFFFF;
   font-family: "Droid Serif";
   font-style: bold italic;
   font-size: 1.1em; 
   }
 

//Style categoria//

#categoria{

   margin-top: 150px;
   padding-left: 40px;
   @include column-count(3);
   width: 699px;
}

.titolo{
	padding-left: 40px;
	margin-top: 50px;
	font-family: "Bemio Italic";
	font-style: italic;
	font-size: 35 px;
	position: absolute;
	
	h1{
	color: #FFF3F6 !important; 
	}
	
}

.cat h1{
  font-family: "Bemio Italic";
  font-style: italic;
  font-size: 35 px;
  color: #5E6866;
  
}

.cat h2{
  font-family: "Bemio Italic";
  font-style: italic;
  color: #FFF3F6;
  font-size: 20px;
  position: relative;
  bottom: 20px;
 }

.cat h3{
  font-family: "Droid Serif";
  font-style: italic;
  color: #373A39;
  font-size: 10px;
  position: relative;
}

.cat h3 span{
   font-family: "Droid Serif";
   font-style: bold italic;
   font-size: 12px;
   color: #FFFFFF;
   }

.cat p{
  	font-family: "Droid Sans";
  	color: #575958;
  	position: relative;
  	bottom: 10px;

}


//Style intermezzo//


#intermezzo{
 	background-color: #8ac24b;
 	height: 224px;
 	width: 873 px;
 	position: relative;
	margin-top: 50px;
 
}

.event{
	position: relative;
	margin-left: 60px;
	padding-top: 30px;
}


.event h1{
	font-family: "Bemio Italic";
	font-style: italic;
	color: #FFF3F6;
	font-size: 20px;

}

.event p{
	font-family: "Droid Sans";
	color: #575958;
	font-size: 1.5 em;
	width: 300px;
}

.event p span{
	font-family: "Droid Sans";
	font-style: bold;
	color: #FFF3F6;
	font-size: 1.5 em;
	width: 300px;
	}


.event h1 span{
	font-family: "Bemio Italic";
	font-style: italic;
	color: #FFF3F6;
	font-size: 30px;
}


.bubble_2{
	float: right;
	position: absolute;
	width: 219px;
	height: 260px;
	padding-left: 380px;
	margin-top: -20px;
}


.bubble_2 h1{
	position: relative;
	bottom: 210px;
	left: 45px;
	font-family: "Bemio italic";
	font-style: italic;
	font-size: 5em;
	color: #FFF3F6;
}


//Style profilo//

	#profilo{
	background-color: #ff7a2b;
	height: 560px;
}


.text_profilo{
	position: relative;
	@include float-left;
	margin-left: 20px;
	margin-top: 10px;
}

.text_profilo h1{
	font-family: "Bemio Italic";
	font-style: italic;
	color: #FFF3F6;
	font-size: 2 em;
	
}

.text_profilo h2{
	font-family: "Droid Sans";
	font-style: bold italic;
	color: #892C0B;
	font-size: 1.5 em;
	
}

.text_profilo h3{
	font-family: "Droid Sans", 700;
	
	color: #E85605;
	font-size: 1 em;
	
	
}

.text_profilo h4{
	font-family: "Droid Sans";
	font-style: bold italic;
	color: #E85605;
	font-size: 0.7 em;
	text-indent: 40px;
	
}

.text_profilo h5{
	font-family: "Droid Sans";
	font-style: bold italic;
	color: #892C0B;
	font-size: 0.7 em;
	
}

.text_profilo h5 span{
	font-family: "Droid Sans";
	font-style: bold italic;
	color: #FFF3F6;
	font-size: 0.7 em;
	
}

.foto_profilo{
	position: relative;width: 254x;
	height: 254px;
	@include float-left;
    
}


.icona_1{
margin-top: -230px;

}

.icona_stella{
position: absolute;
padding-top: 30px;
}


.profilo_utente{
margin-top: 280px;

}

.profilo_utente h1{
font-family: "Bemio Italic";
color: #892C0B;
font-style: italic;
font-size: 1.8em;
}

.profilo_utente p{
font-family: "Droid Sans";
font-style: bold italic;
color: #892C0B;
font-size: 1em;
width: 400px;
}




